.body {
  font-family: "Roboto", "Helvetica", "Arial"
}

.header-wallpaper {
  width: 100%;
  height: 250px;
  position: absolute;
  top: 0;
  background: url('wallpaper.jpg');
  background-size: cover;
}

#navbar {
  height: 56px;
  box-shadow: 0 3px 5px -1px rgba(0,0,0,.2), 0 6px 10px 0 rgba(0,0,0,.14), 0 1px 18px 0 rgba(0,0,0,.12);
  background-color: #3f51b5 !important; /*Material indigo*/
  position: fixed;
  width: 100%;
  z-index: 10;
  display: none;
}

.main-grid {
  padding-top: 128px;
  max-width: 900px;
}

.full-width-card {
  width: 100%;
  margin-top: 24px;
}

/*Styles for tablets and smaller */
@media (max-width: 839px) {
  .profile-info-container {
    text-align: center;
  }

  .main-grid {
    padding-top: 0;
  }
}


/*Profile card styles*/

.profile-headshot {
  border-radius: 50%;
  width: 200px;
  margin: auto;
  display: block;
}

.profile-info {
  margin-bottom: 48px;
}

.profile-info .name {
  margin: 0 0 16px 0;
  font-weight: 500;
}

.profile-info .title {
  margin: 0;
}

.profile-info .location {
  font-size: 14px;
  margin: 0;
}

.profile-contact .contact-info-row {
  margin: 8px 0 8px 0;
}

.profile-contact .profile-contact-icon {
  vertical-align: bottom;
}

.profile-buttons {
  margin: 40px 0 0 0;
}


/*Work Exp/Education/Project card styles*/

.card-header-icon {
  font-size: 40px;
  margin: 8px;
}

.card-header {
  font-size: 24px;
  margin: 8px;
  padding: 8px;
  font-weight: 500;
}

.subheader {
  margin: 8px;
}

.subheader .details {
  font-weight: 500;
}

.subheader .sub-details {
  font-size: 14px;
}

.date-range {
  margin: 8px;
  font-size: 14px;
  font-weight: 500;
}

.list-description {
  padding-left: 16px;
  font-weight: 300;
}
